<div class=" uk-container uk-margin-auto uk-margin-xlarge-top uk-text-center">
    <h1 class="uk-heading-large">TaskFlow</h1>
    <form>
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" type="text" placeholder="Email">
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password" placeholder="Senha">
            </div>
        </div>
        <button class="uk-button uk-button-secondary" type="submit">Entrar</button>
    </form>
</div>
