@model IEnumerable<Tarefa>

@{
    ViewData["Title"] = "Home Page";

    var dataAtual = DateTime.Today;
}

<div class="uk-container uk-margin-medium-top">
    <div class="uk-flex uk-flex-center">
        <form asp-controller="Home" asp-action="CadastrarTarefa" id="formulario-cadastro-tarefa" method="POST">
            <div class="uk-display-inline-block">
                <label class="uk-form-label uk-display-block" for="form-stacked-text">Título</label>
                <div class="uk-display-inline-block">
                    <input class="uk-input" type="text" name="nome" id="input-cadastro-titulo" placeholder="Digite o título da tarefa" required>
                </div>
            </div>
            <div class="uk-display-inline-block">
                <label class="uk-form-label uk-display-block" for="form-stacked-text">Data de Vencimento</label>
                <div class="uk-display-inline-block">
                    <input class="uk-input" type="date" id="input-data-vencimento" value="" name="dataVencimento" required>
                </div>
            </div>
             <div class="uk-display-inline-block">
                <label>
                    <input class="uk-checkbox" name="urgente" type="checkbox" value="true" />
                    <span>Urgente</span>
                </label>
            </div>
            <button class="uk-button uk-button-secondary" type="submit">NOVA TAREFA</button>
        </form>
    </div>
    <div class="uk-flex uk-margin-medium-top uk-grid-medium uk-flex-middle">
        <h2 class="uk-margin-remove-bottom">Tarefas</h2>
        <div>
            <form class="uk-search uk-search-default">
                <input class="uk-search-input" id="input-filtro" type="search" placeholder="Buscar...">
                <span class="uk-search-icon-flip" uk-search-icon></span>
            </form>
        </div>
        <div>
            <select class="uk-select" id="filtro-status">
                <option>Todos os status</option>
                <option>Normal</option>
                <option>Expirou</option>
                <option>Urgente</option>
            </select>
        </div>
    </div>
    <div class="uk-overflow-auto" id="container-tabela">
        <table class="uk-table" id="tabela-tarefas">
            @await Html.PartialAsync("_TabelaTarefas", Model)
        </table>
    </div>
    <div id="modal-editar-tarefa" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">Editar tarefa</h2>
            <form asp-controller="Home" asp-action="EditarTarefa" method="POST" id="formulario-editar-tarefa">
                <div class="uk-display-inline-block">
                    <input type="hidden" id="input-id-tarefa" name="id">
                    <label class="uk-form-label uk-display-block">Título</label>
                    <div class="uk-display-inline-block">
                        <input class="uk-input" type="text" name="nome" id="input-editar-tarefa-titulo" placeholder="Digite o título da tarefa" required>
                    </div>
                </div>
                <div class="uk-display-inline-block">
                    <label class="uk-form-label uk-display-block">Data de Vencimento</label>
                    <div class="uk-display-inline-block">
                        <input class="uk-input" type="date" id="input-editar-tarefa-data" value="" name="dataVencimento" required>
                    </div>
                </div>
                <button class="uk-button uk-button-secondary" type="submit">EDITAR TAREFA</button>
            </form>
        </div>
    </div>
</div>
