.uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: #fff;
    border-bottom: 1px solid #d9d9d9;
}

#container-tabela {
    height: 500px;
}

.uk-notification, .uk-notification-message {
    background-color: #fff;
    border: 1px solid #c6c6c6;
}
